<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/editproduct.css">
    <title>Edit Product</title>
</head>



<body>
    <%- include('./includes/navigation.ejs') %>

        <div class="upload-container">
            <h2 class="upload-title">Edit Product</h2>
            <form action="/admin/edit-product/<%= product._id %>" method="POST" enctype="multipart/form-data"
                class="upload-form">
                <div class="drop-area">
                    <input type="file" name="image" id="image">
                    <% if (product.image) { %>
                        <img src="<%= product.image %>" alt="Product Image" class="preview-image">
                        <% } %>
                </div>

                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input type="text" name="name" id="name" value="<%= product.name %>" required>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" required><%= product.description %></textarea>
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" value="<%= product.price %>" step="0.01" required>
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="categoryId" id="category" required>
                        <% categories.forEach(category=> { %>
                            <option value="<%= category._id %>" <%=product.categoryId.equals(category._id) ? "selected"
                                : "" %>>
                                <%= category.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>

                <div class="button-group">
                    <button type="submit" class="upload-btn">Save Changes</button>
                    <a href="/admin/edit-product" class="cancel-btn">Cancel</a>
                </div>
            </form>
        </div>

</body>

</html>