<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/productDetail.css">

    <title>
        <%= product.name %> - Product Details
    </title>


</head>


<body>
    <%- include('./includes/navigation.ejs') %>
        <div class="product-details-container">
            <div class="product-image">
                <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="product-info">
                <h1>
                    <%= product.name %>
                </h1>
                <p class="price">$ <%= product.price %>
                </p>
                <p class="description">
                    <%= product.description %>
                </p>

                <form action="/cart/add" method="POST">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="name" value="<%= product.name %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <input type="hidden" name="image" value="<%= product.image %>">
                    <button type="submit" class="btn">Add to Cart</button>
                </form>
            </div>
        </div>
</body>

</html>